.newforget-div {
  overflow: hidden !important;
}

.newforgetbox {
  max-width: 470px;
  width: 100%;
  padding: 30px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.disabled-btn {
  background-color: #a72936;
  /* lighter red / faded color */
  color: #fff;
  cursor: not-allowed;
  opacity: 0.7;
  transition: 0.3s ease;
}

.newforgetcard {

  border-top-width: 7px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-left-width: 0px;
  border-color: #CF2030;
  border-style: solid;
  border-radius: 13px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  width: 950px;
}



.colored-toast {
  background-color: white !important;
  color: black !important;
  border: 1px solid #ddd;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.colored-toast-error {
  background-color: white !important;
  color: black !important;
  border: 1px solid #ddd;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.colored-toast.swal2-icon-success {
  background-color: rgb(10, 185, 10);
}

.colored-toast.swal2-icon-warning {
  background-color: #f8bb86 !important;
}

.colored-toast.swal2-icon-info {
  background-color: #0e4d65 !important;
}

.colored-toast.swal2-icon-question {
  background-color: #0e4d65 !important;
}

.colored-toast .swal2-title {
  color: black;
}

.colored-toast .swal2-close {
  color: black;
}

.colored-toast .swal2-html-container {
  color: black;
}




/* Default progress bar style */
.swal2-timer-progress-bar.custom-progress-bar {
  height: 3px;
  background: var(--progress-color, rgb(5, 163, 5)) !important;
}

.swal2-timer-progress-bar.custom-progress-bar-error {
  height: 3px;
  background: var(--progress-color, rgb(243, 12, 12)) !important;
}

.swal2-timer-progress-bar.custom-progress-bar-updated {
  height: 3px;
  background: #0e4d65 !important;
}



.newforget-input {
  /* width: 80% !important; */
  height: 48px;
  background-color: white;
  border: 2px solid #a7a7a7;
  width: 100%;
  z-index: 1;
  border-radius: 8px;
  padding-left: 15px;
  padding-right: 20px;
  margin-top: 10px;
  /* box-shadow: rgb(0, 153, 255) 0px 0px 0px 0px inset, rgba(0, 0, 0, 0.04) 0px 2px 4px, rgba(12, 14, 23, 0.12) 0px 0px 0px 1px inset; */

}

.newforget-input:focus {
  border-color: #d7091a;
  box-shadow: 0 0 0 0rem rgba(13, 110, 253, .25);
}

.newforgot-btn2:hover {
  color: black !important;
}





.newforget-btn {
  border: none;
  border-radius: 8px;
  font-weight: 600;
  width: 100px;
  padding: 8px 15px;
  height: 48px;
  width: 100%;
}



/* Media Queries */

@media (max-width:347px) {

  .newforget-btn {
    border: none;
    border-radius: 5px;
    font-weight: 600;
    width: 100%;
    padding-top: 7px;
    padding-bottom: 6px;
  }

}