.navbar-wrapper {
  width: 100%;
  background: #ffffff;
  border-bottom: 1px solid #eee;
  font-family: Arial, sans-serif;
}

/* --------------------- TOP BAR --------------------- */
.topbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px 30px;
  border-bottom: 1px solid #e5e5e5;
}

/* LOGO */
.logo-area {
  display: flex;
  align-items: center;
  gap: 10px;
}
.logo-circle {
  width: 45px;
  height: 45px;
  background: teal;
  border-radius: 50%;
}
.logo-text {
  font-size: 22px;
  font-weight: bold;
  color: teal;
  letter-spacing: 1px;
}

/* DELIVERY BOX */
.delivery-box {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 14px;
  border: 1px solid #d4f4ef;
  border-radius: 8px;
  background: #f0fffd;
  cursor: pointer;
}
.delivery-box img {
  width: 30px;
  height: 20px;
  border-radius: 4px;
}

/* SEARCH BAR */
.search-area {
  flex: 1;
  max-width: 500px;
  margin: 0 30px;
  position: relative;
}
.search-area input {
  width: 100%;
  padding: 10px 45px 10px 15px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background: #fafafa;
}
.search-btn {
  position: absolute;
  right: 8px;
  top: 6px;
  /* background: white;
  padding: 6px;
  border-radius: 6px;
  border: 1px solid #ddd; */
  cursor: pointer;
}

/* ACTION ICONS */
.action-area {
  display: flex;
  align-items: center;
  gap: 25px;
}
.action-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
.action-box span {
  font-size: 11px;
  margin-top: 4px;
}

/* CART BADGE */
.cart {
  position: relative;
}
.cart-badge {
  position: absolute;
  top: -6px;
  right: -8px;
  background: red;
  color: white;
  font-size: 10px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ---------------- CATEGORY BAR ---------------- */
.category-nav {
  display: flex;
  justify-content: center;
  gap: 35px;
  padding: 12px 0;
  border-top: 1px solid #eee;
}
.category-item {
  font-size: 14px;
  font-weight: 600;
  border: none;
  background: none;
  cursor: pointer;
  color: #444;
}
.category-item:hover {
  color: teal;
  border-bottom: 2px solid teal;
  padding-bottom: 2px;
}
