 .homeContainer{
    margin: 0 80px;
 }

 @media (max-width:1024px) {
     .homeContainer{
         margin: 0 60px;
        }
    }
 @media (max-width:768px) {
     .homeContainer{
         margin: 0 40px;
        }
    }
    @media (max-width:600px) {
       .homeContainer{
       margin: 0 20px;
    }
    }
    /* Firefox – keeps default behavior but thin */
/* Firefox */
* {
  scrollbar-width: thin;
}

/* Chrome / Edge */
::-webkit-scrollbar {
  width: 2px;
}
::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,0.2);  /* romba light */
}