
.re-bk-toast-wrapper {
  background: #fff;
  padding: 12px 16px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  min-width: 250px;
  overflow: hidden;
  background-color: #0e4d65;
}

.re-bk-toast {
  display: flex;
  align-items: center;
  gap: 10px;
 /* background-color: #28a745; */
}

.re-bk-toast img {
  width: 20px;
  height: 20px;
  
}

.re-bk-text-toast {
  font-size: 14px;
  font-weight: 500;
  color: white;
  /* background-color: red; */
}

/* progress bar */
.re-bk-progress {
  height: 3px;
  background: #ffffff;
  margin-top: 8px;
  animation: toast-progress 2s linear forwards;
}

@keyframes toast-progress {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}

.slide-in {
  animation: slideIn 0.4s ease forwards;
}
.slide-out {
  animation: slideOut 0.3s ease forwards;
}

@keyframes slideIn {
  from {
    transform: translateX(120%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(120%);
    opacity: 0;
  }
}
