
.FooterContainer{
    width: 1290px;
    margin: 0 auto;
    margin-top: 50px;
    height: 350px;
    border-radius: 25px;
    background-color: #F4F7F8;
    padding: 40px;
}

.rowGap{
    padding-left: 10px ;
    padding-right: 10px ;
}

.footerChild1{
    width: 60%;
    margin-top: 0%;
}

.footerChild2{
    width: 40%;
    margin-right: -10px;
}



