 @import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.addon-card:hover {
  transform: translateY(-4px);
  transition: 0.2s;
  cursor: pointer;
}

/* Toast message-க்கு higher z-index (topbar-விட அதிகம்) */
/* .toast-high-zindex {
  z-index: 999999 !important;
} */
* {
  scrollbar-width: thin;
}

/* Chrome / Edge */
::-webkit-scrollbar {
  width: 2px;
}
::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,0.2);  /* romba light */
}