.otpbox {
  max-width: 470px;
  width: 100%;
  padding: 30px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.otpcard{
  border-top-width: 7px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-left-width: 0px;
  border-color: #CF2030;
  border-style: solid;
  border-radius: 13px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  width: 950px;
}

.otp-input {
  height: 48px;
  background-color: white;
  border: 2px solid #a7a7a7;
  width: 48px;
  z-index: 1;
  padding-right: 10px;
  border-radius: 8px;
  outline: none;
  text-align: center; /* centers text horizontally */
  font-size: 20px;
  transition: all 0.25s ease;
  margin-top: 20px;
}

.otp-input:focus {
  height: 48px;
  border: 2px solid #cf2030;
  width: 48px;
  z-index: 1;
  padding-right: 10px;
  transform: translateY(-3px);
  border-radius: 8px;
  outline: none;
  border-color: #CF2030; /* or #cf2030 if you want same red shade */
  box-shadow: 0 0 4px rgba(207, 32, 48, 0.5); /* optional glow effect */
}
.resend{
  text-decoration: none;
  cursor: pointer;
}
.resend:hover{
  text-decoration: underline ;
  cursor: pointer;
}


/* .otp-input{
    border: none;
    border-bottom:3px solid #CF2030 ;
    width: 30px;
    padding-left: 10px;
    margin-right:10px ;
} */
    /* .otp-input:focus{
    border: none;
    border-bottom:3px solid #CF2030 ;
    width: 30px;
    padding-left: 10px;
    outline: none;
} */
/* 
.otp-input:focus{
  border-color: #d7091a;
  box-shadow: 0 0 0 0rem rgba(13,110,253,.25);
} */

.otp-btn2:hover{
   color: black !important;
}



.colored-toast {
  background-color: white !important;
  color: black !important;
  border: 1px solid #ddd;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}
.colored-toast-error {
  background-color: white !important;
  color: black !important;
  border: 1px solid #ddd;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.custom-toast-margin{

  margin-top: 80px !important;

}

.colored-toast.swal2-icon-success {
  background-color: rgb(10, 185, 10) ;
}

.colored-toast.swal2-icon-error {
  /* background-color: #f27474 !important; */
}

.colored-toast.swal2-icon-warning {
  background-color: #f8bb86 !important;
}

.colored-toast.swal2-icon-info {
  background-color: #3fc3ee !important;
}

.colored-toast.swal2-icon-question {
  background-color: #87adbd !important;
}

.colored-toast .swal2-title {
  color: black;
}

.colored-toast .swal2-close {
  color: black;
}

.colored-toast .swal2-html-container {
  color:black;
}




/* Default progress bar style */
.swal2-timer-progress-bar.custom-progress-bar {
  height: 3px;
  background: var(--progress-color,  rgb(5, 163, 5)) !important;
}
.swal2-timer-progress-bar.custom-progress-bar-error {
  height: 3px;
  background: var(--progress-color, rgb(243, 12, 12)) !important;
}
.custom-progress-bar-error{
background-color: red !important;
}


.otp-btn{
  border: none;
  border-radius: 8px;
  font-weight: 600;
  width: 100px;
  padding: 8px 15px;
  height: 48px;
  width: 100%;
}



/* Media Queries */

@media (max-width:347px) {

  .otp-btn{
  border: none;
  border-radius: 5px;
  font-weight: 600;
  width: 100%;
  padding-top: 7px;
  padding-bottom: 6px;
}
.otp-input {
  height: 40px;
  background-color: white;
  border: 2px solid #a7a7a7;
  width: 40px;
  z-index: 1;
  padding-right: 10px;
  border-radius: 8px;
  outline: none;
  text-align: center; /* centers text horizontally */
  font-size: 20px;
  transition: all 0.25s ease;
  margin-top: 20px;
}

.otp-input:focus {
  height: 40px;
  border: 2px solid #cf2030;
  width: 40px;
  z-index: 1;
  padding-right: 10px;
  transform: translateY(-3px);
  border-radius: 8px;
  outline: none;
  border-color: #CF2030; /* or #cf2030 if you want same red shade */
  box-shadow: 0 0 4px rgba(207, 32, 48, 0.5); /* optional glow effect */
}

}

@media (max-width:600px) {
  
.custom-toast-margin{
  margin-top: 60px !important;
}

}
